---
title: "Blue Jays Home Run tally"
---

<!-- adapted from http://bl.ocks.org/mbostock/3884914 -->

<%= stylesheet_embed "viz" %>


<h1><%= current_page.data.title %></h1>
	<div class="container">
	<div class="span3">
	  
	  <h3>Pete smaluck</h3>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>

	  <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>

	  <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
	</div>

	<div class="span9" id="vis"></div>
</div>
<div>
  <pre id="display_data"></pre>
</div>

<%# data_embed takes a single argument, the name of the data file in source/data. %>
<%= data_embed 'data.tsv' %>

<%= javascript_embed 'viz' %>

<%# simple coffeescript example to fill display_data. %>
<%# javascript_embed 'show_data' %>


